* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    background-color: #d5dceb;
}

img {
    max-width: 100%;
}

h1, 
h2 {
    margin-bottom: 15px; 
}

/*get's rid of the bullet points for any unordered list*/
ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    /* we want it to be in the middle so margin 0 top and bottom auto left and right*/
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background-color: #347bf7;
    color: white;
    height: 55px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 18px; 
    font-weight: bold;
}

/*navbar hover over color*/
.navbar a:hover {
    color: rgb(17, 0, 255);
}

.navbar .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 40px;
}

.header {
    background-color: rgb(50, 78, 255);
    color: white;
    min-height: 400px;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    background-color: #818181;
    color: white;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 20px 25px;
}

.box i {
    margin-right: 10px;
}

/*all responsive stuff that i have not gone over just yet*/
@media(max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    /*stacks items on top of eachother very nice when you shrink window size*/
    .boxes .container {
        display: block;
        text-align: center;
    }
}